body{
    margin: 0;
    background-color: aliceblue;
}

.keys{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.key{
    font-size: 35px;
    background-color: #fff;
    box-shadow: 3px 5px 10px #000;
    padding: 50px;
    margin: 5px auto;
    border: 2px solid none;
    border-radius: 10px;
    transition: all 0.05s;
}
.key-animation{
    transform: scale(1.5);
}